:root {
  --bg-color: #f8f8f8;
  --sec-bg-color: #fff;
  --sec-title-color: #404040;
  --circle-color: #2e83a4;
  --inner-circle-color: #f4f5f5;
  --name-color: #3b3b3b;
  --skill-border-color: #006699;
  --skill-name-color: #636363;
  --edu-title-color: #006699;
  --edu-content-color: #444;
  --course-text-color: #000;
  --square-color: #6d6e71;
  --year-chain-text-color: #444;

  --scale-rate: 0.3;
  --p-scale-rate: 3 * var(--scale-rate);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.template06-page {
  display: flex;
  justify-content: center;
  background-color: #cfcfcf;
  padding: calc(40px * var(--scale-rate));
}

/* Template Body */
.template06-body {
  background-color: var(--bg-color);
  padding: calc(100px * var(--scale-rate)) calc(54px * var(--scale-rate))
    calc(86px * var(--scale-rate)) calc(24px * var(--scale-rate));
  width: calc(2480px * var(--scale-rate));
  min-height: calc(3508px * var(--scale-rate));
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Century Gothic";
}

/* #region -> General Styles for Sections */
.template06-body .sec-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.template06-body .sec {
  background-color: var(--sec-bg-color);
  border: calc(2px * var(--scale-rate)) solid #000;
  border-radius: 12px;
  width: calc(1150px * var(--scale-rate));
  padding: calc(70px * var(--scale-rate)) calc(18px * var(--scale-rate))
    calc(30px * var(--scale-rate)) calc(20px * var(--scale-rate));
  position: relative;
}
.template06-body .sec .sec-title {
  display: grid;
  grid-template-columns: calc(100px * var(--scale-rate)) calc(
      400px * var(--scale-rate)
    );
  grid-template-areas: "title-logo title-name";
  position: absolute;
  top: calc(-10px * var(--scale-rate));
  left: calc(100px * var(--scale-rate));
}
.template06-body .sec .sec-title .title-logo {
  grid-area: title-logo;
  background-color: var(--sec-bg-color);
  width: calc(100px * var(--scale-rate));
  height: calc(50px * var(--scale-rate));
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.template06-body .sec .sec-title .title-logo img {
  position: absolute;
  top: calc(-30px * var(--scale-rate));
}
.template06-body .sec .sec-title .title-name {
  grid-area: title-name;
  height: calc(50px * var(--scale-rate));
  background-color: var(--sec-bg-color);
  padding-left: calc(30px * var(--scale-rate));
  text-transform: uppercase;
  font-family: "Century Gothic";
  font-weight: bold;
  color: var(--sec-title-color);
  display: flex;
  align-items: center;
  position: relative;
}
.template06-body .sec .sec-title .title-name p {
  position: absolute;
  top: calc(-30px * var(--scale-rate));
}

.template06-body .bold {
  font-weight: bold;
}
.template06-body .circle {
  width: calc(35px * var(--scale-rate));
  height: calc(35px * var(--scale-rate));
  background-color: var(--circle-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.template06-body .circle .inner-circle {
  width: calc(13px * var(--scale-rate));
  height: calc(13px * var(--scale-rate));
  background-color: var(--inner-circle-color);
  border-radius: 50%;
}
.template06-body .square {
  width: calc(20px * var(--scale-rate));
  height: calc(20px * var(--scale-rate));
  background-color: var(--square-color);
}

/* #endregion */

/* #region -> Name */
.template06-body .name-sec {
  width: 100%;
  text-align: center;
  color: var(--name-color);
  font-family: "Century Gothic";
  margin-bottom: calc(110px * var(--scale-rate));
}
/* #endregion */

/* #region Section 1 -> Personal Info. + Career Objective */
.template06-body .sec-wrapper-1 {
  min-height: calc(341px * var(--scale-rate));
  margin-bottom: calc(96px * var(--scale-rate));
}
/* Info Section */
.template06-body .info-sec .sec-title .title-logo img {
  width: calc(82px * var(--scale-rate));
  height: calc(82px * var(--scale-rate));
}
.template06-body .info-sec .sec-title .title-name {
  width: calc(700px * var(--scale-rate));
}
.template06-body .info-sec .sec-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.template06-body .info-sec .sec-body .info {
  display: grid;
  grid-template-columns: calc(90px * var(--scale-rate)) 1fr;
  grid-template-areas: "info-logo info-text";
  padding: 0 calc(20px * var(--scale-rate));
  width: 50%;
  font-size: calc(14px * var(--p-scale-rate));
  /* font-family: "Myriad Pro"; */
}

.template06-body .info-sec .sec-body .info .info-logo {
  grid-area: info-logo;
}
.template06-body .info-sec .sec-body .info .info-logo img {
  width: calc(65px * var(--scale-rate));
  height: calc(65px * var(--scale-rate));
}
.template06-body .info-sec .sec-body .info .info-text {
  grid-area: info-text;
}

/* Objective Section */
.template06-body .objective-sec .sec-title .title-logo img {
  width: calc(85px * var(--scale-rate));
  height: calc(70px * var(--scale-rate));
}
.template06-body .objective-sec .sec-title .title-name {
  width: calc(530px * var(--scale-rate));
}
.template06-body .objective-sec .sec-body p {
  font-size: calc(14px * var(--p-scale-rate));
}
/* #endregion */

/* #region Section 2 -> Work + Education */
/* Work Section */
.template06-body .sec-wrapper-2 {
  margin-bottom: calc(192px * var(--scale-rate));
}
.template06-body .work-sec {
  width: calc(1570px * var(--scale-rate));
  padding-left: calc(55px * var(--scale-rate));
}
.template06-body .work-sec .sec-title .title-logo img {
  width: calc(75px * var(--scale-rate));
  height: calc(65px * var(--scale-rate));
}
.template06-body .work-sec .sec-title .title-name {
  width: calc(380px * var(--scale-rate));
}

.template06-body .work-sec .sec-body {
  display: grid;
  grid-template-columns: calc(185px * var(--scale-rate)) 1fr;
  grid-template-areas: "left right";
  gap: calc(30px * var(--scale-rate));
}
.template06-body .work-sec .left {
  grid-area: left;
}
.template06-body .work-sec .left .year {
  border-right: calc(2px * var(--scale-rate)) solid #000;
  height: calc(80px * var(--scale-rate));
  position: relative;
}
.template06-body .work-sec .left .year p {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  font-size: calc(13px * var(--p-scale-rate));
  color: var(--year-chain-text-color);
  font-family: "Century Gothic";
  font-style: italic;
  font-weight: bold;
}
.template06-body .work-sec .left .year .dot {
  background-color: #000;
  width: calc(20px * var(--scale-rate));
  height: calc(20px * var(--scale-rate));
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: calc(-14px * var(--scale-rate));
}
.template06-body .work-sec .left .year:last-child {
  border-right: none;
}
.template06-body .work-sec .left .year:last-child .dot {
  right: calc(-12px * var(--scale-rate));
}

.template06-body .work-sec .right {
  grid-area: right;
  padding: calc(30px * var(--scale-rate)) calc(15px * var(--scale-rate));
  padding-bottom: 0;
}
.template06-body .work-sec .right .work {
  margin-bottom: calc(50px * var(--scale-rate));
  font-size: calc(16px * var(--p-scale-rate));
  font-family: "Century Gothic";
  line-height: 1.5;
}
.template06-body .work-sec .right .work .work-company {
  display: grid;
  grid-template-columns: calc(50px * var(--scale-rate)) 1fr;
  grid-template-areas: "arrow co-name";
}
.template06-body .work-sec .right .work .work-company .arrow {
  grid-area: arrow;
  display: flex;
  align-items: center;
  justify-content: center;
}
.template06-body .work-sec .right .work .work-company .arrow img {
  width: calc(43px * var(--scale-rate));
  height: calc(43px * var(--scale-rate));
}
.template06-body .work-sec .right .work .work-company .co-name {
  grid-area: co-name;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.template06-body .work-sec .right .work .work-pos {
  display: grid;
  grid-template-columns: calc(50px * var(--scale-rate)) 1fr;
  grid-template-areas: "pos-square pos-name";
}
.template06-body .work-sec .right .work .work-pos .pos-square {
  grid-area: pos-square;
  display: flex;
  align-items: center;
  justify-content: center;
}
.template06-body .work-sec .right .work .work-pos .pos-name {
  grid-area: pos-name;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.template06-body .work-sec .right .work .work-date {
  display: grid;
  grid-template-columns: calc(50px * var(--scale-rate)) 1fr;
  grid-template-areas: "empty-space date-content";
}
.template06-body .work-sec .right .work .work-date .empty-space {
  grid-area: empty-space;
}
.template06-body .work-sec .right .work .work-date .date-content {
  grid-area: date-content;
  text-transform: capitalize;
}

/* Education Section */
.template06-body .edu-sec {
  width: calc(800px * var(--scale-rate));
}
.template06-body .edu-sec .sec-title .title-logo img {
  width: calc(110px * var(--scale-rate));
  height: calc(64px * var(--scale-rate));
}
.template06-body .edu-sec .sec-title .title-name {
  width: calc(380px * var(--scale-rate));
}

.template06-body .edu .edu-title p {
  font-size: calc(14px * var(--p-scale-rate));
  color: var(--edu-title-color);
  font-family: "Century Gothic";
  font-weight: bold;
  line-height: 1.5;
}
.template06-body .edu .edu-content {
  font-size: calc(13px * var(--p-scale-rate));
  color: var(--edu-content-color);
  font-family: "Century Gothic";
  line-height: 1.5;
}

/* Certificates Section */
.template06-body .certification-sec {
  border: none;
  width: 100%;
  margin-top: calc(100px * var(--scale-rate));
  padding-left: 0;
  padding-right: 0;
}
.template06-body .certification-sec .sec-title {
  left: calc(70px * var(--scale-rate));
}
.template06-body .certification-sec .sec-title .title-logo img {
  width: calc(74px * var(--scale-rate));
  height: calc(81px * var(--scale-rate));
}
.template06-body .certification-sec .cert {
  margin-bottom: calc(50px * var(--scale-rate));
  font-size: calc(13px * var(--p-scale-rate));
  color: var(--edu-content-color);
  font-family: "Century Gothic";
  line-height: 1.5;
}
.template06-body .certification-sec .cert .cert-title {
  font-weight: bold;
}
/* #endregion */

/* #region Section 3 -> Courses + Programs */
.template06-body .sec-wrapper-3 {
  padding-left: calc(219px * var(--scale-rate));
  margin-bottom: calc(103px * var(--scale-rate));
}
/* Courses Section */
.template06-body .course-sec {
  padding-top: calc(145px * var(--scale-rate));
}

.template06-body .course-sec .sec-title .title-logo img {
  width: calc(325px * var(--scale-rate));
  height: calc(291px * var(--scale-rate));
  top: calc(-150px * var(--scale-rate));
  left: calc(-50px * var(--scale-rate));
  z-index: 12;
}
.template06-body .course-sec .sec-title .title-name {
  width: calc(480px * var(--scale-rate));
  padding-left: calc(180px * var(--scale-rate));
}

.template06-body .course-sec .sec-body .course {
  display: grid;
  grid-template-columns:
    calc(187px * var(--scale-rate)) calc(50px * var(--scale-rate))
    100%;
  grid-template-areas: "course-date course-circle course-name";
  font-size: calc(12px * var(--p-scale-rate));
  color: var(--course-text-color);
  transform: translateX(-21%);
  margin-bottom: calc(7px * var(--scale-rate));
}
.template06-body .course-sec .sec-body .course .course-date {
  grid-area: course-date;
  border: calc(1px * var(--scale-rate)) solid #000;
  border-radius: 12px;
  width: calc(183px * var(--scale-rate));
  height: calc(75px * var(--scale-rate));
  display: flex;
  align-items: center;
  justify-content: center;
}

.template06-body .course-sec .sec-body .course .course-circle {
  grid-area: course-circle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.template06-body .course-sec .sec-body .course .course-name {
  grid-area: course-name;
  width: 100%;
  display: flex;
  align-items: center;
}

/* Programs Section */
.template06-body .program-sec {
  width: calc(993px * var(--scale-rate));
  padding: calc(70px * var(--scale-rate)) calc(18px * var(--scale-rate))
    calc(30px * var(--scale-rate)) calc(20px * var(--scale-rate));
  display: flex;
  align-items: center;
  justify-content: center;
}
.template06-body .program-sec .sec-title .title-logo img {
  width: calc(275px * var(--scale-rate));
  height: calc(295px * var(--scale-rate));
  top: calc(-180px * var(--scale-rate));
  left: calc(-50px * var(--scale-rate));
  z-index: 12;
}
.template06-body .program-sec .sec-title .title-name {
  width: calc(530px * var(--scale-rate));
  padding-left: calc(150px * var(--scale-rate));
}

.template06-body .program-sec .sec-body .program {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-areas: "program-logo" "program-name";
}
.template06-body .program-sec .program .program-logo {
  grid-area: program-logo;
  display: flex;
  align-items: center;
  justify-content: center;
}
.template06-body .program-sec .program .program-logo img {
  width: calc(170px * var(--scale-rate));
  height: calc(195px * var(--scale-rate));
}
.template06-body .program-sec .program .program-name {
  grid-area: program-name;
}
.template06-body .program-sec .program .program-name p {
  font-size: calc(14px * var(--p-scale-rate));
  text-align: center;
}
/* #endregion */

/* #region Section 4 -> Skills */
/* Skills Section */
.template06-body .sec-wrapper-4 {
  width: 99%;
  margin-bottom: calc(97px * var(--scale-rate));
}

.template06-body .skill-sec {
  width: 100%;
}

.template06-body .skill-sec .sec-title .title-logo img {
  width: calc(100px * var(--scale-rate));
  height: calc(106px * var(--scale-rate));
  transform: translateY(-40%);
}
.template06-body .skill-sec .sec-title .title-name {
  width: calc(250px * var(--scale-rate));
}

.template06-body .skill-sec .sec-body {
  padding-left: calc(30px * var(--scale-rate));
  padding-right: calc(30px * var(--scale-rate));
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.template06-body .skill-sec .skill {
  width: calc(227px * var(--scale-rate));
  height: calc(300px * var(--scale-rate));
  color: var(--skill-name-color);
  display: grid;
  grid-template-rows: calc(200px * var(--scale-rate)) 1fr;
  grid-template-areas: "skill-logo" "skill-name";
}
/* skill -> logo */
.template06-body .skill-sec .skill .skill-logo {
  grid-area: skill-logo;
  display: flex;
  justify-content: center;
}
.template06-body .skill-sec .skill .skill-logo-bg {
  border: calc(5px * var(--scale-rate)) solid var(--skill-border-color);
  background-color: inherit;
  border-radius: 50%;
  width: calc(195px * var(--scale-rate));
  height: calc(195px * var(--scale-rate));
  display: flex;
  align-items: center;
  justify-content: center;
}
.template06-body .skill-sec .skill .skill-logo-bg img {
  width: calc(122px * var(--scale-rate));
  height: calc(122px * var(--scale-rate));
}
/* skill -> name */
.template06-body .skill-sec .skill .skill-name {
  grid-area: skill-name;
  display: flex;
  justify-content: center;
  text-align: center;
}
.template06-body .skill-sec .skill .skill-name p {
  font-size: calc(13px * var(--p-scale-rate));
}
/* #endregion */

/* #region Section 5 -> Other Training + Languages */
/* Other Training */
.template06-body .other-sec {
  width: calc(1280px * var(--scale-rate));
}
.template06-body .other-sec .sec-title .title-logo img {
  width: calc(91px * var(--scale-rate));
  height: calc(100px * var(--scale-rate));
}
.template06-body .other-sec .sec-title .title-name {
  width: calc(530px * var(--scale-rate));
}

.template06-body .other-sec .sec-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  padding-left: calc(50px * var(--scale-rate));
  padding-right: calc(50px * var(--scale-rate));
}
.template06-body .other-sec .train {
  display: grid;
  grid-template-columns: calc(50px * var(--scale-rate)) minmax(
      calc(300px * var(--scale-rate)),
      1fr
    );
  grid-template-areas: "train-circle train-name";
  font-size: calc(12px * var(--p-scale-rate));
  margin-right: calc(15px * var(--scale-rate));
  margin-bottom: calc(30px * var(--scale-rate));
}
.template06-body .other-sec .train-circle {
  grid-area: train-circle;
  display: flex;
  align-items: center;
  justify-content: center;
}
.template06-body .other-sec .train-name {
  grid-area: train-name;
}

/* Languages */
.template06-body .lang-wrapper {
  width: calc(1000px * var(--scale-rate));
  display: flex;
  justify-content: center;
}
.template06-body .lang-sec {
  width: calc(660px * var(--scale-rate));
}
.template06-body .lang-sec .sec-title .title-logo img {
  width: calc(84px * var(--scale-rate));
  height: calc(84px * var(--scale-rate));
}
.template06-body .lang-sec .sec-title .title-name {
  width: calc(430px * var(--scale-rate));
}

.template06-body .lang-sec .sec-body .lang {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "lang-name lang-rate";
  margin-bottom: calc(30px * var(--scale-rate));
}
.template06-body .lang-sec .sec-body .lang .lang-name {
  grid-area: lang-name;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(14px * var(--p-scale-rate));
}
.template06-body .lang-sec .sec-body .lang .lang-rate {
  grid-area: lang-rate;
  display: flex;
  align-items: center;
}
.template06-body .lang-sec .sec-body .lang .lang-rate img {
  width: calc(54px * var(--scale-rate));
  height: calc(50px * var(--scale-rate));
}
/* #endregion */
