:root {
  --photo-bg-color: #c6c6c6;
  --sec-bg-color: #fff;
  --sec-title-color: #fff;
  --sec-title-bg-color: #878787;
  --sec-logo-bg-color: #38969f;
  --name-color: #107379;
  --bg-color: #f8f8f8;
  --circle: #f2c559;
  --skill-border-color: #c6bf9e;
  --lang-full-deg-color: #14666b;

  --sec-main-content: #0d585d;
  --lang-empty-deg-color: #888;

  --scale-rate: 0.3;
  --p-scale-rate: 3 * var(--scale-rate);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.template05-page {
  display: flex;
  justify-content: center;
  background-color: #cfcfcf;
  padding: calc(40px * var(--scale-rate));
}

/* Template Body */
.template05-body {
  background-color: var(--bg-color);
  padding: calc(80px * var(--scale-rate)) calc(100px * var(--scale-rate))
    calc(100px * var(--scale-rate)) calc(100px * var(--scale-rate));
  width: calc(2480px * var(--scale-rate));
  min-height: calc(3508px * var(--scale-rate));
  position: relative;
}

/* Header Section*/
/* #region - Header */
.template05-body .header-sec {
  width: 100%;
  min-height: calc(452px * var(--scale-rate));
  display: grid;
  grid-template-columns:
    calc(630px * var(--scale-rate)) calc(909px * var(--scale-rate))
    1fr;
  grid-template-rows: calc(160px * var(--scale-rate)) 1fr;
  grid-template-areas:
    "photo name name"
    "photo details location";

  margin-bottom: calc(72px * var(--scale-rate));
}

/* header -> photo */
.template05-body .header-sec .photo {
  grid-area: photo;
  width: calc(452px * var(--scale-rate));
  display: flex;
  align-items: center;
}
.template05-body .header-sec .photo .photo-bg {
  background-color: var(--photo-bg-color);
  border-radius: 50%;
  width: calc(452px * var(--scale-rate));
  height: calc(452px * var(--scale-rate));
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.template05-body .header-sec .photo img {
  width: calc(422px * var(--scale-rate));
  height: calc(392px * var(--scale-rate));
}

/* header > name */
.template05-body .header-sec .name {
  grid-area: name;
  color: var(--name-color);
  font-family: "Ara Assaf";
  font-size: calc(32px * var(--p-scale-rate));
  display: flex;
  align-items: flex-start;
  line-height: 1;
  margin-bottom: calc(40px * var(--scale-rate));
}

/* header -> details */
.template05-body .header-sec .details {
  grid-area: details;
  display: flex;
  flex-direction: column;
}
.template05-body .header-sec .detail {
  display: grid;
  grid-template-columns: calc(100px * var(--scale-rate)) 1fr;
  grid-template-areas: "detail-logo detail-text";
  padding-left: calc(120px * var(--scale-rate));
  padding: calc(24px * var(--scale-rate)) 0 calc(24px * var(--scale-rate))
    calc(80px * var(--scale-rate));
  /* margin-bottom: 25px; */
}
.template05-body .header-sec .detail-logo {
  grid-area: detail-logo;
  display: flex;
  align-items: center;
}
.template05-body .header-sec .detail-logo img {
  width: calc(70px * var(--scale-rate));
  height: calc(58px * var(--scale-rate));
}
.template05-body .header-sec .detail-text {
  grid-area: detail-text;
  display: flex;
  align-items: center;
}
.template05-body .header-sec .detail-text p {
  font-family: "Myriad Pro";
  font-size: calc(13px * var(--p-scale-rate));
}

/* header -> location */
.template05-body .header-sec .location {
  grid-area: location;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.template05-body .header-sec .location .loc-data {
  display: flex;
}
.template05-body .header-sec .location .loc {
  display: grid;
  grid-template-columns: calc(100px * var(--scale-rate));
  grid-template-areas: "loc-icon loc-text";
  margin-right: calc(75px * var(--scale-rate));
  z-index: 12;
}
.template05-body .header-sec .loc .loc-icon {
  grid-area: loc-icon;
  display: flex;
  align-items: center;
}
.template05-body .header-sec .loc .loc-icon img {
  width: calc(64px * var(--scale-rate));
  height: calc(64px * var(--scale-rate));
}
.template05-body .header-sec .loc .loc-icon img.flag {
  width: calc(90px * var(--scale-rate));
  height: calc(66px * var(--scale-rate));
}
.template05-body .header-sec .loc .loc-text {
  grid-area: loc-text;
}
.template05-body .header-sec .loc .loc-text p {
  font-size: calc(13px * var(--p-scale-rate));
  /* font-family: "GE SS TV"; */
}
.template05-body .header-sec .location img.world {
  width: calc(624px * var(--scale-rate));
  height: calc(324px * var(--scale-rate));
  position: absolute;
  top: calc(300px * var(--scale-rate));
  right: calc(190px * var(--scale-rate));
}
/* #endregion */

/* Intro Section */
/* #region - Intro section */
.template05-body .objective {
  padding-left: calc(310px * var(--scale-rate));
  margin-bottom: calc(44px * var(--scale-rate));
  display: grid;
  grid-template-columns: calc(200px * var(--scale-rate)) 1fr;
  grid-template-areas: "obj-logo obj-text";
}
.template05-body .objective .obj-logo {
  grid-area: obj-logo;
  display: flex;
  align-items: center;
}
.template05-body .objective .obj-logo img {
  width: calc(184px * var(--scale-rate));
  height: calc(154px * var(--scale-rate));
}
.template05-body .objective .obj-text {
  grid-area: obj-text;
  padding-left: calc(20px * var(--scale-rate));
  display: flex;
  align-items: center;
}
.template05-body .objective .obj-text p {
  font-size: calc(13px * var(--p-scale-rate));
  font-weight: bold;
  /* font-family: "GE SS TV"; */
}
/* #endregion */

/* #region General styles for all sections */
.template05-body .sec {
  width: 100%;
  padding-left: calc(100px * var(--scale-rate));
  margin-bottom: calc(20px * var(--scale-rate));
  position: relative;
}
.template05-body .sec .sec-title {
  background-color: var(--sec-title-bg-color);
  width: calc(600px * var(--scale-rate));
  height: calc(104px * var(--scale-rate));
  display: flex;
  align-items: center;
  padding-left: calc(80px * var(--scale-rate));
}
.template05-body .sec .sec-title p {
  color: var(--sec-title-color);
  font-size: calc(19px * var(--p-scale-rate));
}
.template05-body .sec .sec-logo {
  border: calc(8.333px * var(--scale-rate)) solid #fff;
  background-color: var(--sec-logo-bg-color);
  border-radius: 50%;
  width: calc(130px * var(--scale-rate));
  height: calc(130px * var(--scale-rate));
  position: absolute;
  top: -2px;
  left: calc(20px * var(--scale-rate));
  display: flex;
  align-items: center;
  justify-content: center;
}
.template05-body .circle {
  background-color: var(--circle);
  width: calc(24px * var(--scale-rate));
  height: calc(24px * var(--scale-rate));
  border-radius: 50%;
}
/* #endregion */

/* Education and Work Sections */
/* #region - General styles for main sections */
.template05-body .sec .sec-body {
  background-color: var(--sec-bg-color);
  width: 100%;
  padding: calc(61px * var(--scale-rate)) calc(63px * var(--scale-rate))
    calc(36px * var(--scale-rate)) calc(76px * var(--scale-rate));
  display: flex;
  font-size: calc(13px * var(--p-scale-rate));
}
.template05-body .sec .sec-body .edu,
.template05-body .sec .sec-body .work {
  margin-right: calc(120px * var(--scale-rate));
  margin-bottom: calc(30px * var(--scale-rate));
  width: calc(550px * var(--scale-rate));
  min-height: calc(285px * var(--scale-rate));
}
.template05-body .sec .sec-body .edu-date,
.template05-body .sec .sec-body .work-date {
  background-color: var(--sec-title-bg-color);
  color: var(--sec-bg-color);
  width: 120%;
  height: calc(45px * var(--scale-rate));
  transform: translateX(-6%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(13px * var(--p-scale-rate));
  position: relative;
}
.template05-body .sec .sec-body .edu-date .circle,
.template05-body .sec .sec-body .work-date .circle {
  background-color: var(--circle);
  width: calc(45px * var(--scale-rate));
  height: calc(45px * var(--scale-rate));
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 3.5%;
  transform: translateY(-50%);
}
.template05-body .sec .sec-body .edu-box,
.template05-body .sec .sec-body .work-box {
  padding: 8px 0 calc(46px * var(--scale-rate)) 2px;
  height: 100%;

  border-top: 1px solid #000;
  border-left: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}
.template05-body .sec .sec-body .edu-box .edu-title,
.template05-body .sec .sec-body .work-box .work-title {
  background-color: var(--sec-bg-color);
  color: var(--sec-main-content);
  font-weight: bold;
  width: 100%;
  padding-left: calc(30px * var(--scale-rate));
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10%, -57%);
}
.template05-body .sec .edu-box .edu-content,
.template05-body .sec .work-box .work-content {
  font-size: calc(13px * var(--p-scale-rate));
  line-height: calc(19px * 1.2 * var(--p-scale-rate));
  transform: translate(10%);
}
.template05-body .sec .edu-box .edu-content span.content-name,
.template05-body .sec .work-box .work-content span.project-name,
.template05-body .sec .work-box .work-content span.job-name {
  color: var(--sec-logo-bg-color);
}

/* education-sec -> logo */
.template05-body .sec .sec-logo img {
  width: calc(100px * var(--scale-rate));
  height: calc(69px * var(--scale-rate));
}

/* work-sec -> logo */
.template05-body .work-sec .sec-logo img {
  width: calc(81px * var(--scale-rate));
  height: calc(82px * var(--scale-rate));
}
/* #endregion */

/* Courses Section */
/* #region */
.template05-body .courses-sec .sec-body {
  height: calc(570px * var(--scale-rate));
  padding-top: calc(36px * var(--scale-rate));
}
.template05-body .courses-sec .sec-body .sec-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.template05-body .courses-sec .sec-body .course {
  border-left: calc(7px * var(--scale-rate)) solid var(--sec-logo-bg-color);
  display: grid;
  grid-template-columns: calc(40px * var(--scale-rate)) 1fr;
  grid-template-areas: "circle course-name";
  flex: 0 1 10px;
}
.template05-body .courses-sec .sec-body .course:last-child {
  flex-grow: 1;
  align-items: flex-start;
}
.template05-body .courses-sec .sec-body .course:last-child .circle {
  transform: translateY(105%);
}
.template05-body .courses-sec .sec-body .course .course-circle {
  grid-area: circle;
  display: flex;
  align-items: center;
  transform: translateX(-37%);
}
.template05-body .courses-sec .sec-body .course .course-name {
  grid-area: course-name;
  font-size: calc(13px * var(--p-scale-rate));
  line-height: calc(12px * 2 * var(--p-scale-rate));
  display: flex;
  align-items: center;
}
/* #endregion */

/* Skills Section */
/* #region - Skills  */
.template05-body .skills-sec .sec-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.template05-body .skills-sec .skill {
  width: calc(200px * var(--scale-rate));
  display: grid;
  grid-template-rows: calc(180px * var(--scale-rate)) 1fr;
  grid-template-areas: "skill-logo" "skill-name";
}
/* skill -> logo */
.template05-body .skills-sec .skill .skill-logo {
  grid-area: skill-logo;
  display: flex;
  align-items: center;
  justify-content: center;
}
.template05-body .skills-sec .skill .skill-logo-bg {
  width: calc(180px * var(--scale-rate));
  height: calc(180px * var(--scale-rate));
  border-radius: 50%;
  background-color: inherit;
  border: 1px solid var(--skill-border-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.template05-body .skills-sec .skill .skill-logo-bg img {
  width: calc(95px * var(--scale-rate));
  height: calc(94px * var(--scale-rate));
}
/* skill -> name */
.template05-body .skills-sec .skill .skill-name {
  grid-area: skill-name;
  text-align: center;
}
.template05-body .skills-sec .skill .skill-name p {
  font-size: calc(11px * var(--p-scale-rate));
}
/* #endregion */

/* Other Sections */
/* #region - General styles for this section */
.template05-body .other-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: calc(295px * var(--scale-rate));
}
.template05-body .other-sec .part-sec,
.template05-body .other-sec .lang-sec,
.template05-body .other-sec .ref-sec {
  width: calc(750px * var(--scale-rate));
}
.template05-body .other-sec .part-sec .sec-title,
.template05-body .other-sec .lang-sec .sec-title,
.template05-body .other-sec .ref-sec .sec-title {
  width: 100%;
}
.template05-body .other-sec .part-sec .sec-body,
.template05-body .other-sec .lang-sec .sec-body,
.template05-body .other-sec .ref-sec .sec-body {
  padding: calc(12px * var(--scale-rate)) calc(31px * var(--scale-rate));
}
/* #endregion */

/* #region - Participation */
.template05-body .other-sec .part-sec .sec-logo img {
  width: calc(71px * var(--scale-rate));
  height: calc(88px * var(--scale-rate));
}
.template05-body .other-sec .part-sec .sec-body .sec-content {
  border-left: calc(7px * var(--scale-rate)) solid var(--sec-logo-bg-color);
}
.template05-body .other-sec .part-sec .sec-body .part {
  display: grid;
  grid-template-columns: calc(50px * var(--scale-rate)) 1fr;
  grid-template-areas: "circle part-text";
  transform: translate(-5%, -20%);
  line-height: calc(12px * 1.5 * var(--p-scale-rate));
}
.template05-body .other-sec .part-sec .sec-body .part .part-circle {
  grid-area: circle;
  display: flex;
  align-items: center;
}
.template05-body .other-sec .part-sec .sec-body .part .part-text {
  grid-area: part-text;
  font-size: calc(12px * var(--p-scale-rate));
  display: flex;
  align-items: center;
}
/* #endregion */

/* #region - Languages */
.template05-body .other-sec .lang-sec .sec-body {
  flex-wrap: wrap;
}
.template05-body .other-sec .lang-sec .sec-logo img {
  width: calc(79px * var(--scale-rate));
  height: calc(75px * var(--scale-rate));
}
.template05-body .other-sec .lang {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "lang-name lang-rate";
  font-size: calc(13px * var(--p-scale-rate));
  margin-bottom: calc(30px * var(--scale-rate));
}
.template05-body .other-sec .lang .lang-name,
.template05-body .other-sec .lang .lang-rate {
  display: flex;
  align-items: center;
}
.template05-body .other-sec .lang .lang-name {
  grid-area: lang-name;
}
.template05-body .other-sec .lang .lang-rate {
  grid-area: lang-rate;
}
.template05-body .other-sec .lang .lang-rate .lang-deg {
  background-color: var(--lang-full-deg-color);
  width: calc(22px * var(--scale-rate));
  height: calc(54px * var(--scale-rate));
  border-radius: 10px;
  margin: 0 0.5px;
}
.template05-body .other-sec .lang .lang-rate .lang-deg.empty {
  background-color: var(--lang-empty-deg-color);
}
/* #endregion */

/* #region - References */
.template05-body .other-sec .ref-sec .sec-logo img {
  width: calc(84px * var(--scale-rate));
  height: calc(78px * var(--scale-rate));
}
.template05-body .other-sec .ref-sec .sec-body {
  display: flex;
  align-items: center;
}
.template05-body .other-sec .ref-sec .sec-body .ref {
  display: grid;
  grid-template-columns: calc(50px * var(--scale-rate)) 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "ref-circle ref-name"
    "ref-logo ref-num";
  margin-bottom: calc(30px * var(--scale-rate));
  line-height: calc(12px * 1.6 * var(--p-scale-rate));
}
.template05-body .other-sec .ref-sec .ref .ref-circle {
  grid-area: ref-circle;
}
.template05-body .other-sec .ref-sec .ref .ref-logo {
  grid-area: ref-logo;
}
.template05-body .other-sec .ref-sec .ref .ref-logo img {
  width: calc(31px * var(--scale-rate));
  height: calc(31px * var(--scale-rate));
}
.template05-body .other-sec .ref-sec .ref .ref-name {
  grid-area: ref-name;
}
.template05-body .other-sec .ref-sec .ref .ref-num {
  grid-area: ref-num;
}
.template05-body .other-sec .ref-sec .ref .ref-name p,
.template05-body .other-sec .ref-sec .ref .ref-num p {
  font-size: calc(13px * var(--p-scale-rate));
  margin-bottom: calc(2px * var(--scale-rate));
}

.template05-body .other-sec .ref-sec .ref .ref-circle,
.template05-body .other-sec .ref-sec .ref .ref-logo,
.template05-body .other-sec .ref-sec .ref .ref-name,
.template05-body .other-sec .ref-sec .ref .ref-num {
  display: flex;
  align-items: center;
}
/* #endregion */
