@font-face {
  font-family: "Hacen Tunisia Bd";
  src: url("../../assets/fonts/HacenTunisiaBd.eot");
  src: url("../../assets/fonts/HacenTunisiaBd.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/HacenTunisiaBd.woff2") format("woff2"),
    url("../../assets/fonts/HacenTunisiaBd.woff") format("woff"),
    url("../../assets/fonts/HacenTunisiaBd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ahlan World Arbfonts";
  src: url("../../assets/fonts/AhlanworldArbfonts.eot");
  src: url("../../assets/fonts/AhlanworldArbfonts.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/AhlanworldArbfonts.woff2") format("woff2"),
    url("../../assets/fonts/AhlanworldArbfonts.woff") format("woff"),
    url("../../assets/fonts/AhlanworldArbfonts.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "beIN Normal";
  src: url("../../assets/fonts/beINNormal.eot");
  src: url("../../assets/fonts/beINNormal.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/beINNormal.woff2") format("woff2"),
    url("../../assets/fonts/beINNormal.woff") format("woff"),
    url("../../assets/fonts/beINNormal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ara Assaf";
  src: url("../../assets/fonts/AraAssaf-Regular.eot");
  src: url("../../assets/fonts/AraAssaf-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/AraAssaf-Regular.woff2") format("woff2"),
    url("../../assets/fonts/AraAssaf-Regular.woff") format("woff"),
    url("../../assets/fonts/AraAssaf-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --bg-color: #d9d9d7;
  --photo-bg-color: #acacac;
  --text-color: #000;

  --title-color: #fff;
  --sec-title-bg-color: #7f7f7f;
  --sec-icon-bg-color: #555;

  --skill-icon-bg-color: #a1a1a1;

  --scale-rate: 0.3;
  --p-scale-rate: 3 * var(--scale-rate);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.template02-page {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: calc(40px * var(--scale-rate));
}
.template02-body {
  width: calc(2480px * var(--scale-rate));
  min-height: calc(3508px * var(--scale-rate));
  background-color: var(--bg-color);
  padding: calc(100px * var(--scale-rate)) calc(166px * var(--scale-rate))
    calc(94px * var(--scale-rate)) calc(122px * var(--scale-rate));
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

/* Name Section */
.template02-body .name-sec {
  font-family: "Ara Assaf";
  font-size: calc(24px * var(--p-scale-rate));
  line-height: 1;
  display: flex;
  justify-content: center;
  margin-bottom: calc(58px * var(--scale-rate));
}

/* Info Section */
.template02-body .info-sec {
  margin-bottom: calc(50px * var(--scale-rate));
  width: calc(2160px * var(--scale-rate));
  display: grid;
  grid-template-columns: calc(400px * var(--scale-rate)) 1fr calc(
      600px * var(--scale-rate)
    );
  grid-template-areas: "photo details world";
}
.template02-body .info-sec .main-photo {
  grid-area: photo;
  background-color: var(--photo-bg-color);
  border-radius: 50%;
  width: calc(370px * var(--scale-rate));
  height: calc(370px * var(--scale-rate));
  position: relative;
  text-align: center;
}
.template02-body .info-sec .main-photo img {
  width: calc(340px * var(--scale-rate));
  height: calc(310px * var(--scale-rate));
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
}

.template02-body .info-sec .world {
  grid-area: world;
  display: flex;
  justify-content: center;
  align-items: center;
}
.template02-body .info-sec .world img {
  width: calc(564px * var(--scale-rate));
}

.template02-body .info-sec .info-details {
  grid-area: details;
  font-family: "beIN Normal";
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.template02-body .info-details .info-content {
  font-size: calc(16px * var(--p-scale-rate));
  display: grid;
  grid-template-columns: calc(130px * var(--scale-rate)) calc(
      300px * var(--scale-rate)
    );
  grid-template-areas: "info-img info-text";
  align-items: center;
}
.template02-body .info-content p {
  grid-area: info-text;
  display: flex;
}
.template02-body .info-content .content-img {
  grid-area: info-img;
  display: flex;
  justify-content: center;
}
.template02-body .info-content img.location-mark {
  width: calc(70px * var(--scale-rate));
  height: calc(70px * var(--scale-rate));
}
.template02-body .info-content img.flag {
  width: calc(78px * var(--scale-rate));
  height: calc(50px * var(--scale-rate));
}
.template02-body .info-content img.man {
  width: calc(48px * var(--scale-rate));
  height: calc(98px * var(--scale-rate));
}
.template02-body .info-content img.envelope {
  width: calc(72px * var(--scale-rate));
  height: calc(52px * var(--scale-rate));
}
.template02-body .info-content img.smartphone {
  width: calc(48px * var(--scale-rate));
  height: calc(76px * var(--scale-rate));
}
.template02-body .info-content img.date {
  width: calc(68px * var(--scale-rate));
  height: calc(70px * var(--scale-rate));
}

/* Intro Section */
.template02-body .intro-sec {
  font-family: "Hacen Tunisia Bd";
  margin-bottom: calc(46px * var(--scale-rate));
  display: flex;
  justify-content: center;
}
.template02-body .intro-body {
  width: calc(1800px * var(--scale-rate));
  font-size: calc(16px * var(--p-scale-rate));
  font-weight: bold;
  display: grid;
  grid-template-columns: calc(200px * var(--scale-rate)) 1fr;
  grid-template-areas: "intro-img intro-content";
}
.template02-body .intro-sec img {
  grid-area: intro-img;
  width: calc(150px * var(--scale-rate));
  height: calc(150px * var(--scale-rate));
  display: flex;
  align-items: center;
}
.template02-body .intro-content {
  grid-area: intro-content;
  display: flex;
  align-items: center;
}

/* General style for several sections */
.template02-body .sec {
  position: relative;
  margin-bottom: calc(72px * var(--scale-rate));
}
.template02-body .sec .sec-icon-bg {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-10%, -20%);
  margin-left: calc(24px * var(--scale-rate));
  width: calc(148px * var(--scale-rate));
  height: calc(148px * var(--scale-rate));
  background-color: var(--sec-icon-bg-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.template02-body .sec .sec-icon-bg img[class^="sec-icon-1"] {
  width: calc(110px * var(--scale-rate));
  height: calc(78px * var(--scale-rate));
}
.template02-body .sec .sec-icon-bg img[class^="sec-icon-2"] {
  width: calc(90px * var(--scale-rate));
  height: calc(90px * var(--scale-rate));
}
.template02-body .sec .sec-icon-bg img[class^="sec-icon-3"] {
  width: calc(78px * var(--scale-rate));
  height: calc(110px * var(--scale-rate));
}
.template02-body .sec .sec-icon-bg img[class^="sec-icon-4"] {
  width: calc(110px * var(--scale-rate));
  height: calc(110px * var(--scale-rate));
}

.template02-body .sec-title {
  background-color: var(--sec-title-bg-color);
  font-family: "Ahlan World Arbfonts";
  font-size: calc(24px * var(--p-scale-rate));
  color: var(--title-color);
  width: calc(664px * var(--scale-rate));
  height: calc(94px * var(--scale-rate));
  display: flex;
  align-items: center;
  padding: calc(10px * var(--scale-rate)) 0 calc(10px * var(--scale-rate))
    calc(100px * var(--scale-rate));
  margin-left: calc(102px * var(--scale-rate));
}
.template02-body .sec-body {
  background-color: #fff;
  font-family: "beIN Normal";
  font-size: calc(14px * var(--p-scale-rate));
  padding: calc(46px * var(--scale-rate)) calc(62px * var(--scale-rate))
    calc(20px * var(--scale-rate)) calc(86px * var(--scale-rate));
  margin-left: calc(144px * var(--scale-rate));
  display: grid;
  grid-template-columns: 1fr calc(240px * var(--scale-rate));
  grid-template-areas: "sec-content sec-img";
}
.template02-body .sec-body-content {
  grid-area: sec-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.template02-body .sec-body-img {
  display: flex;
  align-items: center;
}
.template02-body .sec-body-img img {
  grid-area: sec-img;
  width: calc(250px * var(--scale-rate));
  height: calc(212px * var(--scale-rate));
}

/* Education Section */
.template02-body .sec-body-content .edu {
  position: relative;
  border-left: calc(2px * var(--scale-rate)) solid #000;
  padding-left: calc(36px * var(--scale-rate));
  padding-top: calc(60px * var(--scale-rate));
  margin-bottom: calc(50px * var(--scale-rate));
}
.template02-body .edu .circle {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, 0%);
  background-color: #cc6666;
  border-radius: 50%;
  width: calc(24px * var(--scale-rate));
  height: calc(24px * var(--scale-rate));
}
.template02-body .edu .edu-title {
  font-weight: bold;
  font-size: calc(18px * var(--p-scale-rate));
  position: absolute;
  top: 0;
  transform: translateY(-20%);
}
.template02-body .edu p {
  font-size: calc(16px * var(--p-scale-rate));
  margin-bottom: calc(16px * var(--scale-rate));
  line-height: 1.5;
}
.template02-body .edu .edu-year {
  background-color: var(--photo-bg-color);
  width: calc(778px * var(--scale-rate));
  height: calc(48px * var(--scale-rate));
  display: flex;
  justify-content: center;
  transform: translateX(calc(-52px * var(--scale-rate)));
}
.template02-body .edu .edu-year p {
  font-size: calc(14px * var(--p-scale-rate));
  transform: translateY(calc(5px * var(--scale-rate)));
  line-height: 0.5;
}

/* Work Section */
.template02-body .sec-body-content .work {
  display: flex;
  align-items: center;
  margin-bottom: calc(10px * var(--scale-rate));
}
.template02-body .sec-body-content .work .circle {
  background-color: #cc6666;
  border-radius: 50%;
  width: calc(24px * var(--scale-rate));
  height: calc(24px * var(--scale-rate));
  margin-right: calc(22px * var(--scale-rate));
}
.template02-body .sec-body-content .work p {
  display: flex;
  line-height: 1.5;
}

/* Courses Section */
.template02-body .sec-body-content .course {
  display: flex;
  align-items: center;
  margin-bottom: calc(10px * var(--scale-rate));
}
.template02-body .sec-body-content .course .circle {
  background-color: #cc6666;
  border-radius: 50%;
  width: calc(18px * var(--scale-rate));
  height: calc(18px * var(--scale-rate));
  margin-right: calc(22px * var(--scale-rate));
}
.template02-body .sec-body-content .course p {
  display: flex;
  line-height: 1.5;
}

/* Skills Section */
.template02-body .skill-sec-body {
  background-color: #fff;
  font-family: "beIN Normal";
  padding: calc(38px * var(--scale-rate)) calc(34px * var(--scale-rate))
    calc(38px * var(--scale-rate)) calc(90px * var(--scale-rate));
  margin-left: calc(144px * var(--scale-rate));
  width: calc(2050px * var(--scale-rate));
  min-height: calc(746px * var(--scale-rate));
}
.template02-body .flex-container {
  display: flex;
  flex-wrap: wrap;
}
.template02-body .flex-content {
  margin-bottom: calc(40px * var(--scale-rate));
  font-size: calc(14px * var(--p-scale-rate));
  display: grid;
  grid-template-columns: calc(240px * var(--scale-rate)) calc(
      400px * var(--scale-rate)
    );
  grid-template-areas: "skill-img skill-text";
}
.template02-body .flex-content .skill-icon-bg {
  grid-area: skill-img;
  background-color: var(--skill-icon-bg-color);
  border-radius: 50%;
  width: calc(198px * var(--scale-rate));
  height: calc(198px * var(--scale-rate));
  display: flex;
  align-items: center;
  justify-content: center;
}
.template02-body .flex-content img[class^="skill-icon-"] {
  width: calc(140px * var(--scale-rate));
  height: calc(140px * var(--scale-rate));
}
.template02-body .flex-content img[class^="skill-icon-3"] {
  width: calc(130px * var(--scale-rate));
  height: calc(150px * var(--scale-rate));
}
.template02-body .flex-content p {
  grid-area: skill-text;
  display: flex;
  align-items: center;
}
